---
import { Image } from 'astro:assets'

import SocialIcons from './SocialIcons.astro'


const {fullName, title, institute, profilePicture} = Astro.props
---
<div class='flex-1'>
  <h1 class='text-4xl font-bold mb-4'>
    <span class='text-primary font-bold'>{fullName}</span>
  </h1>
  <p class='text-xl text-gray-600 mb-4'>{title}{institute ? ` at ${institute}` : ''}</p>
  <p class='text-lg mb-6'>
    Hi, my name is Harry Ilanyan. I'm double majoring in Data Science and Applied Mathematics, and I'm passionate about building machine learning tools that are not only efficient but also trustworthy. I've worked on projects ranging from a NASA-patented autonomous systems concept to developing tools at Stanford that help more students access college courses earlier. I'm an aspiring PhD student, and I love connecting with people who care about using technology for real impact. Feel free to reach out with questions or for a coffee chat!
  </p>
  <div class='flex items-center gap-4'>
    <SocialIcons />
    <a 
      href="https://calendly.com/harry_ila-berkeley/30min" 
      target="_blank"
      class='btn btn-primary btn-sm'
    >
      <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
      </svg>
      Coffee Chat
    </a>
  </div>
</div>
<div class='size-72 lg:block hidden'>
  <!-- Add your profile image -->
  <Image
    src={profilePicture}
    alt={fullName}
    class='w-72 h-72 object-cover mask mask-circle'
  />
</div>
